<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UiSuite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>
    <test name="UiTests">
<!--        <parameter name="browser" value="chrome"/>-->
<!--        <parameter name="url" value="https://the-internet.herokuapp.com/login"/>-->
<!--        <parameter name="username" value="tomsmith"/>-->
<!--        <parameter name="password" value="SuperSecretPassword!"/>-->
        <classes>
            <class name="tests.UiTests"/>
            <class name="tests.CombinedTests"/>
        </classes>
    </test>
</suite>
